
.cabezera{
margin: var(--margin-pagina-margin,auto);
background-image: url(images/zozor_logo.png);
background-repeat: var(--margin-pagina-background-repeat,no-repeat);
height: var(--margin-pagina-height,no-repeat,auto);
}

.relacion{
    background-color: var(--margin-pagina-background-color,gray);
    float:var(--margin-pagina-background-float,right);
    color: var(--margin-pagina-background-color,white);
    overflow: var(--margin-pagina-background-hidden,hidden);
    margin-left: var(--margin-pagina-background-margin-left,70%);
    padding: var(--margin-pagina-background-paddig,1%);
}
nav{
    display: var(--margin-pagina-display,inline-block);
    width: var(--margin-pagina-width,740px);
    text-align:  var(--margin-pagina-text-align,right);
}
nav ul{
   float: var(--margin-pagina-float,right);
}
nav li {
    display: var(--margin-pagina-display,inline-block);
    margin-right: var(--margin-pagina-margin-right,15px);
    }
article, aside
{
    display: var(--margin-pagina-display,inline-block);
    text-align: var(--margin-pagina-text-align,justify);
}
aside{
    position: var(--margin-pagina-position,relative);
    width: var(--margin-pagina-width,235px);
    box-shadow: var(--margin-pagina-box-shadow,0px 2px 5px);
    border-radius: var(--margin-pagina-border-radius,5px);
}
footer{
    display: var(--margin-pagina-display,inline-block);  
    text-align: var(--margin-pagina-text-align,justify);
   
}

footer, div, p {
    display: var(--margin-pagina-display,inline-block);  
}
#MYpictures{
    position: var(--margin-pagina-position,absolute);
    top: var(--margin-pagina-top,944px);
    left: var(--margin-left,144px);
}
body{
    background-color: var(--margin-background-color,bisque);
}
div, ul{
display: var(--margin-display,inline-block);
}
#FRIENDSid{
    position: var(--margin-position,absolute);
    top: var(--margin-top,946px);
    left: var(--margin-left,463px);
}